
docker
ipykernel
ipympl
ipywidgets
jupyter
matplotlib
notebook
numpy
nvidia-ml-py3
openmim
optuna
optuna-dashboard
pymysql
requests
scikit-image
scikit-learn
scipy
seaborn

timm
torch
torch-tb-profiler
torchdiffeq 
torchvision
tox
umap-learn
diffusers 
transformers 
accelerate 
safetensors
ood_detectors
xformers